<%- include('partials/header') %>
<h2>Validasi Blockchain</h2>
<p>Status: <strong class="text-<%= isValid ? 'success' : 'danger' %>"><%= isValid ? 'Valid' : 'Tidak Valid' %></strong></p>
<%- include('partials/footer') %>